#small-signup-form
  background-color: $iu-blue
  z-index: 1021
  p 
    color: white
  input
    border-radius: 0
    border: 0
    &[type="text"]
      width: 300px
    &[type="submit"]
      background-color: $iu-teal
      color: white
      font-weight: bold
      height: calc(1em + .75rem + 2px)
      font-size: 1.5rem
      padding: 0px