#spotlight, #spotlight-mobile
  border: 1px solid #4e81c1
  border-top: 11px solid #4e81c1

  header img
    width: 30px

  h4
    font-size: 21px

  h5
    font-size: 17px
    color: #4e81c1

  p
    margin-bottom: .25rem

  a.btn
    color: white
    font-weight: 700
    border-color: transparent

  .spotlight-image
    width: 84%

#spotlight-mobile
  h5
    font-size: 16px