.DS_Store
.idea/*
*/.DS_Store
./index.php
wp-activate.php
wp-admin
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-includes
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
iu-syndication-aggregator.php
iu-syndication-configs.php

wp-content/index.php
wp-content/plugins/akismet/
wp-content/plugins/hello.php
wp-content/plugins/index.php
wp-content/themes/index.php
wp-content/themes/twentyseventeen/
wp-content/themes/twentysixteen/
wp-content/themes/twentynineteen/

wp-content/uploads
wp-content/cache
wp-content/w3tc-config

node_modules

wp-content/advanced-cache.php

# wp-content/plugins/w3-total-cache
# wp-content/plugins/amazon-s3-and-cloudfront
# wp-content/plugins/amazon-web-services
# wp-content/plugins/oc-support
# wp-content/plugins/w3-total-cache

wp-content/plugins/shins-pageload-magic/vendor/shinsenter/defer.php/cache/
wp-content/webp-express/
wp-content/wphb-cache/

**/.sass-cache
**/.sass-cache/*

**/log/*
