body {
  background: #f8f8f8; /* Old browsers */
  background: -moz-linear-gradient(top, #f8f8f8 0%, #d6d7d7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#d6d7d7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f8f8f8 0%,#d6d7d7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#d6d7d7',GradientType=0 ); /* IE6-9 */
}

main {
  margin-bottom: 80px;
  margin-top: 40px;
  width: 100%;
}
